.settings-options {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setting-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button {
  background-color: #b90000;
  padding: 0.5rem 1rem;

  color: white;
}
