:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-options {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setting-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reset-btn {
  background-color: #b90000;
  padding: 0.15rem 1rem;
  margin-top: 1rem;

  color: white;
}

.version {
  font-size: 0.7rem;
}

button {
  width: fit-content;
}

.export-import-btns {
  display: flex;
  gap: 1rem;
}

#backup-import {
  display: none;
}

.select-file-btn {
  padding: 5px;
}
