<app-header />
<main>
  <div class="left-col">
    <app-main-panel device="DESKTOP" />

    <div class="secondary-panel app-bordered-panel">
      <select [(ngModel)]="activePanel">
        <option value="ACHIEVEMENTS">Achievements</option>
        <option value="STATS">Statistics</option>
        <option value="SETTINGS">Settings</option>
      </select>
      <app-content-panel [activePanel]="activePanel()" />
    </div>
  </div>

  <div class="tiers-panel app-bordered-panel">
    <div class="switch-buttons">
      <button
        class="cta-button"
        [class.active]="activePurchasePanel() === 'PRODUCTION'"
        (click)="activePurchasePanel.set('PRODUCTION')"
      >
        Production
      </button>
      <button
        class="cta-button"
        [class.active]="activePurchasePanel() === 'UPGRADE'"
        (click)="activePurchasePanel.set('UPGRADE')"
      >
        Upgrades
      </button>
      <button
        class="cta-button"
        [class.active]="activePurchasePanel() === 'PRESTIGE'"
        (click)="activePurchasePanel.set('PRESTIGE')"
      >
        Prestige
      </button>
    </div>

    <app-content-panel [activePanel]="activePurchasePanel()" />
  </div>
</main>
