:host {
  display: block;
  max-width: 1200px;
  margin: auto;
}

main {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
  grid-template-columns: 1fr 350px;
}

.secondary-panel {
  background-color: #977D54;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;

  app-content-panel {
    margin-top: 1rem;
  }
}

.tiers-panel {
  background-color: var(--light-background);
  padding: 0.5rem;

  .switch-buttons {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;

    button {
      font-size: 1rem;
    }
  }
}
