:host {
  display: block;
}

header {
  border-width: 3px;
  background-color: #775331;
  padding: 0.5rem 2rem;

  color: var(--dark-background-contrast-color);
  font-family: 'Finger Paint', Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  text-align: center;

  &.small {
    font-size: large;
  }
}
