<app-header size="small" />

@if (activePanel() !== 'MAIN') {
  <app-pug-counter-panel inline />
} @else {
  <!-- Empty element for the grid layout -->
  <div></div>
}

<main class="u-flex-filler">
  @if (activePanel() === 'MAIN') {
    <app-main-panel device="MOBILE" />
  } @else {
    <div class="menu-panel">
      @if (activeViewGroup() === 'PURCHASES') {
        <div class="menu-selection">
          <ng-container
            *ngTemplateOutlet="panelMenuBtn; context: { panel: 'PRODUCTION', label: 'Production' }"
          />
          <ng-container
            *ngTemplateOutlet="panelMenuBtn; context: { panel: 'UPGRADE', label: 'Upgrades' }"
          />
        </div>
      } @else if (activeViewGroup() === 'STATS') {
        <div class="menu-selection">
          <ng-container
            *ngTemplateOutlet="panelMenuBtn; context: { panel: 'STATS', label: 'Statistics' }"
          />
          <ng-container
            *ngTemplateOutlet="
              panelMenuBtn;
              context: { panel: 'ACHIEVEMENTS', label: 'Achievements' }
            "
          />
        </div>
      }

      <app-content-panel [activePanel]="activePanel()" [withTitle]="showPanelTitle()" />
    </div>
  }
</main>

<footer>
  @for (menu of menuButtons; track menu.label) {
    <button
      (click)="changeActiveView(menu.view)"
      [class.active]="this.activeViewGroup() === menu.view"
    >
      <img [src]="menu.icon" [alt]="menu.alt" />
      @if (this.activeViewGroup() === menu.view) {
        <span>{{ menu.label }}</span>
      }
    </button>
  }
</footer>

<ng-template #panelMenuBtn let-panel="panel" let-label="label">
  <button
    class="cta-button"
    [class.active]="activePanel() === panel"
    (click)="activePanel.set(panel)"
  >
    {{ label }}
  </button>
</ng-template>
