:host {
  --footer-height: 64px;
  --header-height: 50px;
  --content-margin-x: 0.5rem;

  height: 100vh;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

app-header {
  margin: var(--content-margin-x);
}

main {
  height: 0;
  min-height: 100%;
  overflow-y: auto;
}

app-main-panel {
  margin: 0 var(--content-margin-x);
  /* Subtract header/footer/margin to the full height */
  --main-panel-height: calc(100vh - 180px);
}

.menu-panel {
  background-color: var(--light-background);
  padding: 1rem 0.5rem;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.menu-selection {
  margin-bottom: 1rem;

  display: flex;
  gap: 1rem;
  align-items: center;
}

footer {
  position: sticky;
  bottom: 0;

  display: flex;


  button {
    height: var(--footer-height);
    background-color: var(--dark-background);
    border: var(--border);
    border-left: none;
    border-bottom: none;
    border-radius: 0;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    color: var(--dark-background-contrast-color);

    &.active {
      img {
        height: 30px;
      }
    }
  }

  button:last-child {
    border-right: none;
  }

  img {
    height: 100%;
  }
}

app-pug-counter-panel {
  margin-bottom: 0.4rem;
  margin-left: 0.5rem;
}
