:host {
  display: block;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #775331;
  padding: 0.5rem 2rem;

  color: #FFBB59;
  font-family: 'Finger Paint', Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  text-align: center;
}

main {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
  grid-template-areas:
  'main         panels'
  'achievements panels';
  grid-template-columns: 1fr 350px;
}

app-achievement-panel {
  grid-area: achievements;
}

.main-panel {
  grid-area: main;
  background-image: url('/pug-forest-background.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .game-state {
    background-color: var(--light-background);
    padding: 0.5rem 1rem;
    width: 200px;

    font-size: x-large;
    font-weight: bold;

    hr {
      border: solid 1px #D2AB6A;
      border-radius: 10px;
    }

    .subsection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .owned-pugs {
      font-size: 2em;
      line-height: 0.75em;
    }
  }

  button {
    background-color: #247119;
    border: solid 3px #112f11;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;

    color: white;
    font-size: large;
  }
}

.tiers-panel {
  grid-area: panels;
  background-color: var(--light-background);
  padding: 0.5rem;

  .switch-buttons {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;

    button {
      background-color: #C59568;
      border: solid 1px #43290E;
      border-radius: var(--border-radius);
      padding: 0.2rem 0.75rem;

      color: white;
    }

    .active {
      background-color: #775331;
    }
  }
}
