@if (layout() === 'DESKTOP') {
  <app-desktop-layout />
} @else {
  <app-mobile-layout />
}

@if (popupOpen) {
  @switch (popupType) {
    @case ('firstConnection') {
      <app-popup
        actionBtnText="Enter the Pug Forest!"
        popupTitle="Explore, Adopt, Repeat"
        (closed)="popupOpen = false"
      >
        <span>
          You have discovered a hidden forest full of playful pugs! Adopt them one by one and watch
          your cozy pug family grow into a magical empire.
        </span>
      </app-popup>
    }

    @case ('offlineGains') {
      <app-popup
        actionBtnText="Meet them all"
        popupTitle="Your pug family grew"
        (closed)="popupOpen = false"
      >
        <span>
          Your team adopted <strong>{{ offlineGains() | shortNumber }}</strong> more pugs while you
          were offline!
        </span>
      </app-popup>
    }

    @case ('noGains') {
      <app-popup
        actionBtnText="Get some helpers"
        popupTitle="Your empire needs help!"
        (closed)="popupOpen = false"
      >
        <span>
          The forest stayed quiet while you were away… Time to recruit some help and let the pugs
          start coming home on their own!
        </span>
      </app-popup>
    }
  }
}
