.app-bordered-panel {
  padding: 5px 10px;
  display: flex;
  gap: 0.5rem;
  background-color: #E8d1AE;

  cursor: pointer;

  font-size: small;
}

.owned-badge {
  background-color: white;
  border-radius: 5px;
  padding: 1px 3px;
}

img {
  width: 50px;
}

.tier-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 3px;

  .title {
    margin-bottom: 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    font-size: 0.9rem;
    font-weight: bold;
  }

  .description {
    font-style: italic;
  }
}

.purchase-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
