<div class="app-bordered-panel" (click)="detailExpanded = !detailExpanded">
  <div>
    <img src="production-tiers/{{ image() }}" [alt]="title()" />
  </div>
  <div class="tier-info">
    <div class="title">
      <span>{{ title() }}</span>
      <span class="owned-badge">{{ owned() | shortNumber }}</span>
    </div>
    @if (detailExpanded) {
      <span class="description">{{ description() }}</span>
      <span
        >Owned: <strong>{{ owned() }} ({{ currentProduction() | shortNumber }} p/s)</strong></span
      >
    }
    <div class="u-flex u-items-center u-justify-between">
      <span
        >Cost: <strong>{{ currentCost() | shortNumber: 1000 }}</strong></span
      >
      <span
        >Produces: <strong>{{ production() | shortNumber: 1000 }} p/s</strong></span
      >
    </div>
    <div class="purchase-buttons">
      <span>Purchase:</span>
      @for (amount of amounts(); track amount.label) {
        <button
          class="light-button"
          [title]="amount.tooltip"
          [disabled]="!amount.canPurchase"
          (click)="purchaseTier(amount.value, $event)"
        >
          {{ amount.label }}
        </button>
      }
    </div>
  </div>
</div>
