<div class="app-bordered-panel purchase-card" (click)="detailExpanded.set(!detailExpanded())">
  <div>
    <img [src]="image()" [alt]="tier().name" />
  </div>
  <div class="tier-info">
    <div class="title">
      <ng-content select="[title]" />
    </div>
    @if (textDescriptionVisible()) {
      <span class="description">{{ tier().description }}</span>
    }
    @if (detailExpanded()) {
      <ng-content select="[expandedDetail]" />
    }
    <ng-content select="[detail]" />
    <div class="purchase-buttons">
      <span>
        Cost: <strong>{{ cost() | shortNumber: 1000 }}</strong>
      </span>
      @if (maxReached()) {
        Max reached!
      } @else {
        <button
          class="light-button"
          [title]="tooltip()"
          [disabled]="!canPurchase()"
          (click)="purchaseTier($event)"
        >
          Purchase
        </button>
      }
    </div>
  </div>
</div>
