.purchase-card {
  padding: 5px 10px;
  display: flex;
  gap: 0.5rem;
  background-color: #e8d1ae;

  cursor: pointer;

  font-size: small;

  img {
    width: 50px;
  }
}

.tier-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 3px;

  .title {
    margin-bottom: 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    font-size: 0.9rem;
    font-weight: bold;
  }

  .description {
    font-style: italic;
  }

  .purchase-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .max-reached {
    text-align: right;
  }

  .cost {
    font-weight: bold;
    color: #bd0000;

    &.matched {
      color: green;
    }
  }
}
