<div
  class="main-panel app-bordered-panel app-unselectable-text"
  [class]="device()"
  (click)="visitForest()"
>
  <app-pug-counter-panel />

  <div class="visit-forest-container">
    <button class="app-unselectable-text">Visit the forest</button>
    <div class="gained-pug-animation" #visitForestText>
      +{{ tierService.clickProduction() }} pug(s)
    </div>
  </div>

  @if (sidePugs()) {
    <img class="side-pugs" [src]="sidePugs()" />
  }

  @if (mainPug()) {
    <img class="main-pug" [src]="mainPug()" />
  }
</div>
