:host {
  display: block;
}

.main-panel {
  grid-area: main;
  background-image: url('../../../../public/pug-forest-background.png');
  background-size: cover;
  background-position: center;
  height: var(--main-panel-height, 500px);
  padding: 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-state {
  background-color: var(--light-background);
  padding: 0.5rem 1rem;
  width: 200px;

  font-size: x-large;
  font-weight: bold;

  hr {
    border: solid 1px #d2ab6a;
    border-radius: 10px;
  }

  .subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .owned-pugs {
    font-size: 2em;
    line-height: 0.75em;
  }
}

button {
  background-color: #247119;
  border: solid 3px #112f11;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;

  color: white;
  font-size: large;
}

.MOBILE {
  button {
    font-size: xx-large;
  }
}

.visit-forest-container {
  position: relative;
}

.gained-pug-animation {
  position: absolute;
  left: 50%;
  bottom: -40px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #e6bd7d;
  font-size: large;
}

