<ul>
  <li>Pug empire started on {{ gameState.statistics().firstClickDate | date }}</li>
  <li>Number of pugs you've owned: {{ gameState.statistics().totalPugs | shortNumber }}</li>
  <li>Number of visits to the forest: {{ gameState.statistics().totalClicks | shortNumber }}</li>
  <li>
    Number of pugs given up for adoption: {{ gameState.statistics().totalSpent | shortNumber }}
  </li>
  <li>Number of prestiges: {{ gameState.statistics().totalPrestiges }}</li>
  <li>Offline gains: {{ gameState.offlineGainPercent() }}%</li>
  <li>
    Unlocked achievements: {{ nbUnlockedAchievements() }} / {{ nbAchievements }} ({{
      achievementPercentage() | percent
    }})
  </li>
</ul>
