body {
  --border: solid 2px #43290e;
  --border-radius: 5px;
  --light-background: #f5cf8e;
  --dark-background: #4c2c10;
  --font-family: 'Sour Gummy', Verdana, Arial, Helvetica, sans-serif;
  --font-color: #54361e;
  --dark-background-contrast-color: #ffbb59;

  background-color: #9a6b3f;

  font-family: 'Sour Gummy', Verdana, Arial, Helvetica, sans-serif;
  color: var(--font-color);

  width: 100%;
  margin: 0;
}

.app-bordered-panel {
  border: var(--border);
  border-radius: var(--border-radius);
}

button {
  font-family: var(--font-family), serif;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: var(--border);

  &.light-button {
    background-color: #e6bd7d;
    padding: 2px 8px;

    font-size: small;
    font-weight: bold;
  }

  &.cta-button {
    background-color: #c59568;

    color: white;

    &.active {
      background-color: #775331;
      color: white;
    }
  }
}

select {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #775331;

  color: white;
  font-family: var(--font-family), serif;
}

.app-purchase-card {
  padding: 5px 10px;
  display: flex;
  gap: 0.5rem;
  background-color: #e8d1ae;

  cursor: pointer;

  font-size: small;

  img {
    width: 50px;
  }

  .app-pc-tier-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 3px;

    .app-pc-title {
      margin-bottom: 2px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      font-size: 0.9rem;
      font-weight: bold;
    }

    .app-pc-description {
      font-style: italic;
    }
  }

  .app-pc-purchase-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-style: italic;
    }
  }
}

/* TODO: separate file*/
.u-flex {
  display: flex;
}

.u-flex-filler {
  flex: 1;
}

.u-items-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}
