body {
  --border: solid 2px #43290e;
  --border-radius: 5px;
  --light-background: #f5cf8e;
  --font-family: 'Sour Gummy', Verdana, Arial, Helvetica, sans-serif;
  --font-color: #54361e;

  background-color: #9a6b3f;

  font-family: 'Sour Gummy', Verdana, Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

.app-bordered-panel {
  border: var(--border);
  border-radius: var(--border-radius);
}

button {
  font-family: var(--font-family), serif;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: var(--border);

  &.light-button {
    background-color: #e6bd7d;
    padding: 2px 8px;

    font-size: small;
    font-weight: bold;
  }

  &.cta-button {
    background-color: #c59568;

    color: white;

    &.active {
      background-color: #775331;
      color: white;
    }
  }
}

select {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #775331;

  color: white;
  font-family: var(--font-family), serif;
}

/* TODO: separate file*/
.u-flex {
  display: flex;
}

.u-flex-filler {
  flex: 1;
}

.u-items-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}
