body {
  --border: solid 2px #43290e;
  --border-radius: 5px;
  --light-background: #f5cf8e;
  --dark-background: #4c2c10;
  --font-family: 'Sour Gummy', Verdana, Arial, Helvetica, sans-serif;
  --font-color: #54361e;
  --dark-background-contrast-color: #ffbb59;

  background-color: #9a6b3f;

  font-family: 'Sour Gummy', Verdana, Arial, Helvetica, sans-serif;
  color: var(--font-color);

  width: 100%;
  margin: 0;

  /* Remove the blue background on click for Chrome */
  -webkit-tap-highlight-color: transparent;
}

.app-bordered-panel {
  border: var(--border);
  border-radius: var(--border-radius);
}

button,
.button {
  font-family: var(--font-family), serif;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: var(--border);

  /* Unselectable by default */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.light-button {
    background-color: #e6bd7d;
    padding: 2px 8px;

    font-size: small;
    font-weight: bold;
  }

  &.cta-button {
    background-color: #c59568;

    color: white;

    &.active {
      background-color: #775331;
      color: white;
    }
  }
}

select {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #775331;

  color: white;
  font-family: var(--font-family), serif;
}

/* TODO: separate file*/
.u-flex {
  display: flex;
}

.u-flex-col {
  flex-direction: column;
}

.u-flex-filler {
  flex: 1;
}

.u-items-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-font-bold {
  font-weight: bold;
}

.u-ml-1 {
  margin-left: 1rem;
}

.app-unselectable-text {
  -webkit-user-select: none; /* Safari, Chrome, and newer versions of Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer 10+ and older Edge */
  user-select: none;
}
