<app-purchase-card
  [tier]="tier()"
  [cost]="cost()"
  [multiplier]="multiplier()"
  [image]="image()"
  (purchase)="purchase.emit()"
>
  <div title class="title">
    <span>{{ tier().name }}</span>
    <span class="owned-badge">{{ owned() | shortNumber }}</span>
  </div>

  <span expandedDetail>
    Owned: <strong>{{ owned() }} (produce {{ currentProduction() | shortNumber }} p/s)</strong>
  </span>
  <span detail>
    Base production: <strong>{{ baseProduction() | shortNumber: true : 1000 }} p/s</strong>
  </span>
</app-purchase-card>
