name: Deploy to GitHub Pages

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Deployment type"
        required: true
        type: choice
        default: current
        options:
          - current
          - patch
          - minor
          - major

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: develop
          fetch-depth: 0 # Required for tags

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      # Version bump
      - name: Configure git author
        if: ${{ inputs.release_type != 'current' }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Bump version
        if: ${{ inputs.release_type != 'current' }}
        run: |
          npm version ${{ inputs.release_type }} -m "chore(release): %s"

      - name: Push version commit and tag
        if: ${{ inputs.release_type != 'current' }}
        run: |
          git push origin develop --follow-tags


      # Build and deploy
      - name: Install dependencies
        run: npm ci

      - name: Build application
        run: npm run build:github

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/pug-forest/browser
          branch: gh-pages
